{% extends "layout.twig" %}

{% block body %}
    <h1 class="text-center">Add article !</h1>
    {% if errorForm %}
        <p class="text-danger">Please fix the following errors</p>
        <ul class="errors">
            {% for error in errorForm %}
                
                {% if error.title %}
                    <li>{{ error.title.message }}</li>
                {% endif %}
                {% if error.description %}
                    <li>{{ error.description.message }}</li>
                {% endif %}
 

            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="POST">
        <div class="mb-3 row">
            <label for="">Title : </label>
            <input type="text" name="title" class="form-control">
        </div>
       <div class="mb-3 row">
            <label for="">description : </label>
            <textarea name="description" id="description" style="width: 100%"class="form-control" cols="30" rows="10"></textarea>
        </div>
        <button class="btn btn-success mt-3">Add categorie</button>
    </form>

  
{% endblock %}

    {% block javascript %}
        <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
        <script>
            ClassicEditor
                .create( document.querySelector( '#description' ) )
                .catch( error => {
                    console.error( error );
                } );
        </script>
    {% endblock %}